/*global*/
:root{
    --primary:orange(182,92,19)
}
html{
    font-size: 62.5%;/* 10px = 1rem*/
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
h2{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.6rem;
    line-height: 1.5;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 10rem;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.btn{
    display: block;
    font: 16px;
    background-color: black
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}
@media(max-width:768px){
    .flex-header{
        flex-direction: column;
    }    
    .flex-header-v{
        height: 20vh;
        text-align: center;
    }
}
/*header*/
.site-init{
    background-image: url(img/header.jpg);
    height: 40vh;
    background-size: cover;
    color: white;
}
.site-second{
    background-color: black;
    color: white;
}
.menu a{
    margin-right: 2rem;
}
.site-init p{
    font-size: 2rem;
}
@media(max-width:768px){
    .site-init{
        height: 22vh;
    }
    .site-init p{
        font-size: 1.5rem;
    }
}
@media (max-width:768px){
    .flex-about{
        flex-direction: column;
    }
    
}
/*about us*/
.flex-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*house-item*/
.flex-house-item{
    display: flex;
    flex-direction: row;
}
.house-item{
    background-color: antiquewhite;
    width: 40rem;
}
.price{
    color:green;
    font-weight: 100;
}
/*contact form*/
.form-container{

}
fieldset{
    padding: 1rem;
}
legend,label,input{
    font-size: 1.6rem;
}
.input-container{
    margin: 1rem;
}
.input-container input,.input-container textarea{
    width: 70%;
    background-color: rgb(110, 107, 107);
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}
/*about page*/
.btn2{
    display: block;
    background-color: aqua;
    display: block;
    font: 16px;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;

}